.test{
	height:8rem;
	overflow-y:scroll;
	padding:16px;
	font-size:0.8rem;
	color:#333;
}
.sure{
	font-size:0.6rem;
	width: 11.2rem;
	height: 1.96rem;
	line-height: 1.96rem;
	text-align:center;
	background-color: #377ffe;
	border-radius: 8px;
	margin: 1.56rem auto .2rem auto;
	color: #ffffff;
}